@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.App {
  animation-duration: 3s;
  animation-name: fadeIn;
  text-align: left;
  background-color: white;
  flex-direction: column-reverse;
  /* float: inline-end; */
  color:black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-size: auto;
  line-height: 30px;
}

.PerformanceChart{
    animation-duration: 3s;
    animation-name: fadeIn;
}
.HoldingsChart{
  animation-duration: 3s;
  animation-name: fadeIn;
}
h1{

  text-align: left;

}


.App-logo {
  height: min-content;
  size: 10px;
}

.App-header {
  background-color:  #09d3ac;
  size: 10px;
  min-height: 100vh;
  display: flexbox;
  /* flex-direction: column-reverse; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #09d3ac;;
}

.App-link {
  color: #09d3ac;
}

.loadingDiv {
  margin: 0 auto;
  width: 100px;
}
